footer.footer.section-block.--shadow
    ul.utils
        li
            a(href='/') Accueil
        li
            a(href='/about') A propos
        li
            a(href='/tours') Circuits
        li
            a(href='/contact') Nous joindre
    ul.social-list
        li
            a(href='#' target='_blank')
                img(src='/images/icons/facebook.svg' alt='facebook')
        li
            a(href='#' target='_blank')
                img(src='/images/icons/instagram.svg' alt='instagram')
        li
            a(href='#' target='_blank')
                img(src='/images/icons/youtube.svg' alt='youtube')
    span &copy; 2021 Domaine Bini - All rights reserved
    span
        | Designed and developed by 
        a(href='#') Kay Donald
