.section-block.u-pb-standard.bg-nav
    nav.navbar
        a(href='/')
            img.logo-db(src='/images/logo-db.webp' alt='logo domaine bini')
        ul.nav-menu
            li
                a.simple-link.--orange(href='/') Accueil
            li
                a.simple-link.--orange(href='/about') A propos
            li
                a.simple-link.--orange(href='/tours') Nos circuits
            li
                a.simple-link.--orange(href='/reservation') R&eacute;servation
            li
                a.simple-link.--orange(href='/contact') Nous joindre
        