extends base

block content
    main
        include components/_pagenav
        .section-block
            .aboutpage-block
                span.cb-title Notre &eacute;quipe
                .team-desc
                    p.paragraph.u-txt-center
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        | Esse impedit omnis assumenda perspiciatis quibusdam deserunt,
                        | aliquam dolor voluptates tempora amet maiores quos. Laborum
                        | corrupti fugiat enim odio recusandae, quisquam saepe.
                .grid
                    each member in teamMembers
                        .grid-column
                            .team-member
                                .photo
                                    img(src=`/images/team/${member.photo}` alt='membre')
                                .content
                                    span= `${member.firstname.toUpperCase()} ${member.lastname.toUpperCase()}`
                                    small= member.role
                    
        .principle-box
            .principle-box__content
                .principle-box__block
                    img.img-illustration(src='images/icons/nature.svg' alt='nature')
                .principle-box__block
                    h2 Nos principes
                    ul
                        li
                            span Minimiser les impacts du tourisme sur l&apos;environnement
                            p Les impacts physiques, comportementaux et sociaux.
                        li
                            span G&eacute;n&eacute;rer du travail et des revenus pour les populations locales
                            p En &eacute;change de leur savoir-faire ainsi que de leur aide dans la vie du domaine
                        li
                            span Impliquer le visiteur
                            p En le sensibilisant aux questions environnementales
                        li
                            span Concevoir des &eacute;quipements naturels
                            p Objectif z&eacute;ro d&eacute;chet




    include components/_footer