doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width,initial-scale=1')
        title #{title}
        link(rel='shortcut icon' type='image/png' href='/images/coconut-tree.png')
        link(rel='stylesheet' href='/css/style.css')
        link(href='https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Quicksand:500&display=swap' rel='stylesheet')

    body    
        .navigation
            input.navigation__checkbox#navi-toggle(type='checkbox')
            label.navigation__button(for='navi-toggle')
                span.navigation__icon  
            .navigation__background &nbsp; 
            nav.navigation__nav
                ul.navigation__list
                    li.navigation__item
                        a.navigation__link(href='/') Accueil
                    li.navigation__item
                        a.navigation__link(href='/about') A propos
                    li.navigation__item
                        a.navigation__link(href='/tours') Nos circuits
                    li.navigation__item
                        a.navigation__link(href='/reservation') Réservation
                    li.navigation__item
                        a.navigation__link(href='/contact') Nous joindre
        
        //-lateral list
        ul.menu-list
            each discovery in discoveries
                li
                    a(href=`/discovery/${discovery.slug}`)
                        div
                            img.img-fluid.img-icon(src=`/images/icons/${discovery.iconOne}` alt=`${discovery.title}`)
                            br
                            = discovery.title
           
            li
                a(href='/reservation')
                    div
                        img.img-fluid.img-icon(src='/images/icons/heart.svg' alt='icon')
                        br
                        | Réserver

        block content

        script(src="/js/bundle.js")