extends base

block content
    main
        include components/_pagenav
        
        .section-block
            .contact-block
                span.cb-title.u-mb-standard Pour plus de d&eacute;tails autour de nos activit&eacute;s merci de nous contactez
                .grid
                    .grid-column
                        .circle-white
                            img(src='/images/icons/house.svg' alt='icon')
                        p Domaine Bini for&ecirc;t Kilom&egrave;tre 51 sur l&apos;autoroute du nord (C&ocirc;te d&rsquo;Ivoire)
                    .grid-column
                        .circle-white
                            img(src='/images/icons/phone-book.svg' alt='icon')
                        each contact in general[0].contacts
                            p= `(225) ${contact}`
                        p
                            a(href=`mailto:${general[0].emailAdress}`)= general[0].emailAdress
        .map-box
            iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15888.471370930527!2d-3.9246933!3d5.3990115!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8cf589a88b239d61!2sDomaine%20Bini%20Lagune!5e0!3m2!1sfr!2sci!4v1616589823591!5m2!1sfr!2sci' style='border:0;' allowfullscreen='' loading='lazy')



    include components/_footer