extends base

block content
    main
        include components/_pagenav
        
        .section-presentation
            .block
                .sp_block-content
                    hr.simple-hr
                    img.sp-icon(src=`/images/icons/${onediscovery[0].iconTwo}` alt='icone')
                    - const words = onediscovery[0].mainText.split(" ");
                    - const wordsWithoutFirst = words.shift();
                    h1.principle-heading
                        = wordsWithoutFirst
                        br
                        = words.join(' ')
                    p.basic-p= onediscovery[0].description
                    span.slogan Un &eacute;cosyst&egrave;me &nbsp;&bull;&nbsp; Un village &nbsp;&bull;&nbsp; Une activit&eacute; &eacute;co-touristique
                    a(href='/reservation')
                        button.standard-btn R&eacute;server maintenant
            .block
                ul
                    each illustration in onediscovery[0].images
                        li
                            figure
                                img(src=`/images/${illustration}` alt='illustration')
                   


    include components/_footer