doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width,initial-scale=1')
        title #{title}
        link(rel='shortcut icon' type='image/png' href='/images/coconut-tree.png')
        link(rel='stylesheet' href='/css/style.css')
        link(href='https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Quicksand:500&display=swap' rel='stylesheet')

    body    

        .section-block.u-pb-standard

            .error-illustration
                img(src="/images/error.jpg", alt="illustration")
            .error-content
                h1 OUPS !!
                p= msg
                a(href='/')
                        button.standard-btn Retour à la page d'accueil  