extends base

block content
 
    main
        .section-block.bg-mangrove.u-pb-standard
            nav.navbar
                a(href='/')
                    img.logo-db(src='/images/logo-db.webp' alt='logo domaine bini')
                ul.nav-menu
                    li
                        a.simple-link.--orange(href='/') Accueil
                    li
                        a.simple-link.--orange(href='/about') A propos
                    li
                        a.simple-link.--orange(href='/tours') Nos circuits
                    li
                        a.simple-link.--orange(href='/reservation') Réservation
                    li
                        a.simple-link.--orange(href='/contact') Nous joindre
            .heading-box
                h1.heading.heading--one Decouvrez
                h2.heading.heading--two.cl--green Les richesses du domaine Bini
            
            .package-block
                each tour in allTours
                    .gabarit
                        a.cp_link(href=`tours/${tour.slug}`)
                            .card-pack
                                .illustration
                                    img(src=`/images/tours/${tour.imgCover}` alt=`${tour.name}`)
                                .content
                                    h2= tour.name
                                    - if(tour.type === 'forest')
                                        a.simple-link.--green(href=`tours/${tour.slug}`)
                                            | En savoir plus
                                    - else if(tour.type === 'laguna')
                                        a.simple-link.--blue(href=`tours/${tour.slug}`)
                                            | En savoir plus
                                    - else
                                        a.simple-link.--orange(href=`tours/${tour.slug}`)
                                            | En savoir plus

                
        .section-block.about
            .about-block
                .ab_column
                    hr.about-hr
                    h1 Notre 
                        br
                        | Concept
                    p= generalInfo[0].concept
                    span Un &eacute;cosyst&egrave;me &nbsp;&bull;&nbsp; Un village &nbsp;&bull;&nbsp; Une activit&eacute; &eacute;co-touristique
                    a(href='/reservation')
                        button.standard-btn R&eacute;server maintenant
                .ab_column
                    .about-illustration
                        .video-box
                            .bg-video
                                video.bg-video__content(autoplay='true' muted='true' loop='true')
                                    source(src=`/videos/${generalInfo[0].videoPresentation}` type='video/mp4')
                                    | Your browser is not supported!

    include components/_footer