extends base

block content
    main
        include components/_pagenav
        
        .section-block
            .plandetail
                hr.simple-hr
                h1
                    = `Formule ${tourPlan[0].formula}`
                    span=  oneTour[0].name
                p.paragraph= tourPlan[0].description
            .plan-banner
                img(src=`/images/tours/${tourPlan[0].imgCover}` alt='banner')
            .plan-display
                .block
                    .pl-mcontent
                        each program in tourPlan[0].tourProgram
                            .u-mb-standard
                                .heading-plan
                                    h1= program.title
                                    span Programme
                                p.p= program.explanation
                                .program-illustration
                                    img(src=`/images/tours/${program.illustration}` alt='illustration')
                            
                .block
                    .plan-illustration
                        img.img(src=`/images/tours/${tourPlan[0].imgIllustration}` alt='illustration')
                        .content
                            hr.simple-hr
                            h1.principle-heading
                                | Formule 
                                br
                                =  `${tourPlan[0].formula}`
                            .wood-plaque
                                .fprice
                                    span= `${tourPlan[0].price} f cfa`
                                    small par personne
                                a(href='/reservation')
                                    button.standard-btn R&eacute;server maintenant

        
    include components/_footer