extends base

block content
    main
        include components/_pagenav
        
        .section-block
            .contact-block
                span.cb-title.u-mb-standard Formulaire de r&eacute;servation
                form.form.form--reservation
                    .grid
                        .grid-column
                            input#lastname(type='text' placeholder='Nom')
                        .grid-column
                            input#firstname(type='text' placeholder='Prénoms')
                    .grid
                        .grid-column
                            input#email(type='email' placeholder='Email')
                        .grid-column
                            input#cellPhone(type='text' placeholder='Numéro de téléphone')
                    .grid
                        .grid-column
                            label(for="numberOfPersons")
                                | Nombre de personnes 
                                span *
                            input#numberOfPersons(type='number' min='0' placeholder='Nombre de personnes')
                        .grid-column
                            label(for="dateOfReservation")
                                | Date de réservation 
                                span *
                            input#dateOfReservation(type='date')
                    .grid
                        .grid-column
                            label(for='reservedPlan')
                                | Choisissez votre formule 
                                span *
                            select#reservedPlan
                                each plan in allPlans
                                    option(value=`${plan._id}`)= `${plan.tour.name} (formule ${plan.formula})`                        
                    .msgb
                        textarea#message(rows='7' placeholder='Votre message')
                    
                    .form_cta
                        button Reserver

        //- .imgbanner-box
        //-     ul
        //-         li
        //-             figure
        //-                 img(src='images/Bini-Lagune-drapeau.jpg' alt='forêt')
        //-         li
        //-             figure
        //-                 img(src='images/tradition.jpg' alt='forêt')
        //-         li
        //-             figure
        //-                 img(src='images/Pirogue-Lagune-Bini-Abidjan.jpg' alt='forêt')
        //-         li
        //-             figure
        //-                 img(src='images/alloco.jpg' alt='forêt')
        //-         li
        //-             figure
        //-                 img(src='images/Bini-Lagune-pont.jpg' alt='forêt')
        //-         li
        //-             figure
        //-                 img(src='images/foret.jpg' alt='forêt')
        //-         li
        //-             figure
        //-                 img(src='images/Bini-Lagune-bar.jpg' alt='forêt')


    include components/_footer