extends base

block content
    main
        include components/_pagenav
        
        //- plan-green plan-...
        .section-block(class=`${oneTour[0].type === "forest" ? "plan-green" : oneTour[0].type === "laguna" ? "plan-blue" : "plan-orange" }`)
            .plan-title
                - const words = oneTour[0].name.split(" ");
                - let i = 0
                while (i < words.length)
                    - words[i] = words[i][0].toUpperCase() + words[i].substr(1)
                    - i++
                - const tourName = words.join(" ")
                h1.u-txt-center= tourName
                span D&eacute;couverte
            each plan in tourPlans
                .plan-card
                    .illustration
                        img(src=`/images/tours/${plan.imgCover}` alt='illustration')
                    .content
                        span.spa-title.--green= `Formule ${plan.formula}`
                        p= plan.description
                        a.simple-link(href=`/tours/${oneTour[0].slug}/${plan.formula}`, class=`${oneTour[0].type === "forest" ? "--green" : oneTour[0].type === "laguna" ? "--blue" : "--orange" }`) En savoir plus
            

    include components/_footer