extends base

block content
    main
        include components/_pagenav
        
        .section-block
            .plan-title
                h1.u-txt-center Nos circuits
                span D&eacute;couverte

        each tour in tours
            .plan-card.--transparent
                .illustration
                    a(href=`tours/${tour.slug}`)
                        img(src=`/images/tours/${tour.imgCover}` alt=`${tour.name}`)
                .content
                    span.spa-title.--green= tour.name
                    p= tour.description
                    a.simple-link(href=`tours/${tour.slug}`, class=`${tour.type === "forest" ? "--green" : tour.type === "laguna" ? "--blue" : "--orange" }`) Nos plans

    include components/_footer