/* 
    GENRAL
    -------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --color-one:#ead1b2;
    --color-two:#887154;
    --color-orangered:#f67e03;
    --color-white:#fff;
    --color-grey: #f8f8f8;
    --color-black:#000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    font-size: 16px;
    background: var(--color-grey);
    color: #444;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{text-decoration: none;}

li{ list-style: none;}


.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 3rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  }
  .alert--success {
    background-color: #20bf6b;
  }
  .alert--error {
    background-color: #eb4d4b;
  }

.loader {
    border: 3px solid #20bf6b;
    border-radius: 50%;
    border-top: 3px solid #abffaf;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.simple-form input{
    display: block;
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem;
    border: 1px solid #ccc;
    margin-top: .5rem;
}

.simple-form label{
    font-size: 1.4rem;
    font-weight: 300;
}

.simple-form .input-group{
    margin-bottom: 1.5rem;
}

.login-btn{
    margin-top: 2rem;

}

.btn{
    font-size: 1.7rem;
    color: var(--color-white);
    background-color: #1d4c3b;
    border: none;
    padding: 1rem;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: -2px 0px 6px 1px #0000000d;
    transition: all .2s ease;
    text-align: center;
}

.btn:hover{
    background-color: #1b4636;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.menu-bubble{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.3rem 8rem 4px #80808038;
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    z-index: 1000;
    cursor: pointer;
}

.menu-bubble img{
    height: 2rem;
}

#bubble-menu{
    display: none;
}

#bubble-menu:checked ~ .menu-options{
    display: block;
}

.menu-options{
    display: none;
    box-shadow: 0 0.3rem 8rem 4px #80808038;
    width: 5rem;
    padding: .5rem;

    border-radius: 25px;
    
    background-color: var(--color-white);
    position: fixed;
    bottom: 10rem;
    right: 4rem;
}

.menu-options button{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: none;
    margin-bottom: 1rem;
    margin-top: .5rem;
    cursor: pointer;
    transition: all .1s;
}

.menu-options button:hover{
    background-color: #ddd;
}

.menu-options button img{
    height: 2rem;
}

.menu-options .profil{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.mt-five{
    margin-top: 5rem;
}

.mt-eight{
    margin-top: 8rem;
}

.mb-four{
    margin-bottom: 4rem;
}

.mb-seven{
    margin-bottom: 7rem;
}

.jumbotron li{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

/* 
    CONTENT
    -------------------------------------------------------------
*/

.login-card{
    background-color: var(--color-white);
    max-width: 34rem;
    margin: 10rem auto 0;
    border: 1px solid #88715438;
}

.login-card__header{
    background-color: #1d4c3b;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.login-card__header img{
    max-height: 7rem;
    margin-right: 2rem;
}

.login-card__header span{
    display: block;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: .5rem;
    color: var(--color-white);
}

.login-card__header small{
    color: #ffa733;
    font-size: 1.6rem;
}

.login-card__body{
    padding: 2rem;
}

.top-bar{
    padding: 2rem 0;
}

.heading{
    font-size: 2.7rem;
    font-weight: 700;
}

.options,
.tours{
    display: flex;
    flex-wrap: wrap;
}

.option{
    padding: 2rem;
    text-align: center;
    min-width: 137px;
}

.option, .tour-card{
    box-shadow: 0 0.3rem 0.94rem #8080800f;
    background-color: var(--color-white);
    position: relative;
    border-radius: 6px;
    color: #444;
    font-weight: 500;
    transition: all .1s ease-in-out;
}

.tour-card{
    width: 300px;
    overflow: hidden;
}

.option-notif{
    position: absolute;
    background-color: rgb(211, 36, 36);
    color: var(--color-white);
    padding: .4rem .6rem;
    font-weight: 300;
    font-size: 1.4rem;
    border-radius: 25px;
    top: -10px;
}

.option .illustration{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: var(--color-grey);
    margin: 0 auto 1.4rem;
}

.option .illustration img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.option:hover,
.tour-card:hover{
    transform: scale(1.05);
    color: var(--color-orangered);
}

.options a:not(:last-child),
.tours a:not(:last-child){ 
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.card{
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 0.3rem 0.94rem #8080800f;
    position: relative;
    margin-bottom: 3rem;
}

.card .img-box{
    max-width: 15rem;
    height: 12rem;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: var(--color-grey);
    
    margin-top: -5rem;
    margin-bottom: 1rem;
}

.card .img-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.formular label{
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 1rem;
    display: block;
}

.formular input,
.formular textarea{
    font-size: 1.6rem;
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 7px;
    background-color: var(--color-grey);
}

.formular textarea{
    resize: none;
}

.formular .input-group{
    margin-bottom: 1.5rem;
}

.div-link{
    padding-top: 2rem;
    margin-bottom: 3rem;
}

.div-link a{
    color: #642f95 !important;
    background-color: #642f9538;
    padding: 1rem;
    transition: all .2s;
}

.div-link a:hover{
    background-color: #642f9554;
}

.div-link hr{
    margin-top: 2rem;
    border: 1px dashed #dadada;
}


.tour-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tour-card .content{
    padding: 1rem 2rem 1.4rem;
    font-size: 2.1rem;
    color: #444;
}

.tour-plans{
    margin-bottom: 4rem;
}

.plan-bar{
    background-color: #642f9538;
    border: 1px solid transparent;
    padding: 2rem;
    color: #444;
    margin-bottom: 2rem;
}

.plan-bar:hover{
    border: 1px solid #642f95;
}

.plan-bar p{
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 20px;
}

.plan-bar span{
    display: block;
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.plan-bar small{
    background-color: var(--color-white);
    padding: 1rem 1.5rem;
    color: #642f95;
    margin-bottom: 5rem;
}

.plan-bar .desc{
    margin-top: 2rem;
}