/* 
    GENRAL
    -------------------------------------------------------------
*/

:root{
    --color-one:#ead1b2;
    --color-two:#887154;
    --color-orangered:#f67e03;
    --color-white:#fff;
    --color-black:#000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    font-size: 16px;
    background: var(--color-one);
    color: #222;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{text-decoration: none;}

li{ list-style: none;}


.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 3rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  }
  .alert--success {
    background-color: #20bf6b;
  }
  .alert--error {
    background-color: #eb4d4b;
  }

.loader {
    border: 3px solid #20bf6b;
    border-radius: 50%;
    border-top: 3px solid #abffaf;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.simple-link{
    font-size: 1.8rem;
    position: relative;
    cursor: pointer;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #222;
}

.simple-link::before{
    content: '';
    height: 10px;
    width: 100%;
    transform: scale(1.2) skew(3deg, 3deg);
    position: absolute;
    bottom: -1px;
    transition: all .2s;
}

.simple-link.--green::before{
    background-color: #0e9c625c;
}

.simple-link.--blue::before{
    background-color: #2a83ad5c;
}

.simple-link.--orange::before{
    background-color: #f67e035c;
}

.simple-link:hover::before{
    transform: scale(1.3) skew(-3deg, -3deg);
}

.simple-link._hg:hover::before{
    transform: scale(1.3) skew(-3deg, -3deg);
    background-color: #0e9c625c;
}

.--cdark{
    color: #555 !important;
}

.u-pb-standard{padding-bottom: 5rem !important;}
.u-mb-standard{    margin-bottom: 4rem;}
.u-mb-3{    margin-bottom: 3rem;}

.u-txt-center{text-align: center;}

.cl--green{
    color: #33b16e !important;
}

.cl--brown{
    color: #ad722afd !important;
}

.cl--blue{
    color: #2a83adfd !important;
}

.bg-nav{
    background-color: var(--color-white) !important;
    background: linear-gradient(#1d1d1d75, #1d1d1d8a), url(../images/foret.jpg) center center;
    background-attachment: fixed;
    background-size: cover;
}


.section-block{
    padding: 5rem 9rem 0;
}

@media only screen and (max-width:62em){
    .section-block{
        padding: 5rem 4rem 0;
    }
}

@media only screen and (max-width:48em){
    .section-block{
        padding: 4rem 2.5rem 0;
    }
}

@media only screen and (max-width:36em){
    .section-block{
        padding: 3.5rem 1.5rem 0;
    }
}

.heading-box{
    text-align: center;
    position: relative;
}

@media only screen and (max-width:36em){
    .heading-box{
        margin-top: 3rem;
    }
}

.heading{
    font-family: 'DM Serif Display', sans-serif;
    font-style: italic;
    font-weight: 400;
    width: 100%;
}

.heading--one{
    font-size: 7rem;
    color: #c7b199;
}

@media only screen and (max-width:48em){
    .heading--one{
        font-size: 6rem;
    }
}

@media only screen and (max-width:36em){
    .heading--one{
        font-size: 4rem;
    }
}

.heading--two{
    font-size: 4rem;
    margin-top: -2rem;
}

@media only screen and (max-width:48em){
    .heading--two{
        font-size: 3rem;
    }
}

@media only screen and (max-width:36em){
    .heading--two{
        font-size: 2.4rem;
        margin-top: -1rem;
    }
}

.standard-btn{
    border: none;
    background-color: var(--color-orangered);
    font-size: 1.7rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-white);
    padding: 1.4rem 2rem;
    box-shadow: 3px 3px 5px 0 #0000001a;
    cursor: pointer;
    transition: all .2s;
}

.standard-btn:hover{
    background-color: #df750b;
}

/* 
    NAVBAR
    -------------------------------------------------------------
*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media only screen and (max-width:62em){
    .logo-db{
        width: 20rem;
    }
}

@media only screen and (max-width:48em){
    .logo-db{
        width: 15rem;
    }
}

@media only screen and (max-width:36em){
    .logo-db{
        width: 12rem;
    }
}


.nav-menu li{
    display: inline-block;
    padding: 0 2rem;
}

@media only screen and (max-width:62em){
    .nav-menu li{
        display: none
    }
}

.nav-menu li a {
    color: var(--color-white);
    font-size: 1.8rem;
    transition: all .2s;
}

/* --------------------- responsive navbar */

.navigation__checkbox {
    display: none;
}
.navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 7rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1);
    text-align: center;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width:62em){
    .navigation__button {
        display: block;
   }
}

@media only screen and (max-width:48em){
    .navigation__button {
        height: 6rem;
        width: 6rem;
        top: 5rem;
        right: 4.5rem;
   }
}

@media only screen and (max-width:36em){
    .navigation__button {
        height: 5rem;
        width:5rem;
        top: 4rem;
        right: 3rem;
   }
}

.navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 7rem;
    right: 6.5rem;
    background-color: #d1ba9e;
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    display: none;
}

@media only screen and (max-width:62em){
    .navigation__background {
        display: block;
   }
}

@media only screen and (max-width:48em){
    .navigation__background {
        height: 5rem;
        width: 5rem;
        top: 6rem;
        right: 5rem;
   }
}

@media only screen and (max-width:36em){
    .navigation__background {
        height: 4rem;
        width:4rem;
        top: 4rem;
        right: 3.5rem;
   }
}

.navigation__nav {
    height: 100vh;
    position: fixed;
    background: linear-gradient(#d1ba9ebd, #d1ba9ebd), url(../images/map-background.jpg) repeat center center;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}
.navigation__item {
    margin: 2rem 1rem;
}
.navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 400;
    padding: 1rem 2rem;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all 0.4s;
}

@media only screen and (max-width:36em){
    .navigation__link:link, .navigation__link:visited {
        font-size: 2.5rem;
    }
}

.navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    z-index: 1500;
    width: 100%;
}
.navigation__icon {
    position: relative;
    margin-top: 3.5rem;
}

@media only screen and (max-width:48em){
    .navigation__icon {
        margin-top: 3rem;
   }
}

@media only screen and (max-width:36em){
    .navigation__icon {
        margin-top: 2.5rem;
   }
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #555;
    display: inline-block;
}

@media only screen and (max-width:36em){
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 2.5rem;
   }
}
.navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}
.navigation__icon::before {
    top: -0.8rem;
}
.navigation__icon::after {
    top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
    top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
    top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
}


/* 
    FIRST SECTION (ACCUEIL)
    -------------------------------------------------------------
*/

.bg-mangrove{
    background:linear-gradient(#22222293,#22222293) ,url(../images/mangrove.jpg) bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.package-block{
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin-top: 15rem;
}

@media only screen and (max-width:62em){
    .package-block{
        margin-top: 8rem;
    }
}

@media only screen and (max-width:36em){
    .package-block{
        margin-top: 6rem;
    }
}

.package-block .gabarit{
    padding: 0 1rem;
}

.card-pack{
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 3px;
}

@media only screen and (max-width:62em){
    .card-pack {
        margin-bottom: 5rem;
    }   
}

@media only screen and (max-width:36em){
    .card-pack{
        padding: 1rem;
    }

    .card-pack .content{
        padding: 0 1rem 1rem;
    }
}

.card-pack h2{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    color: #222;
}

.card-pack .illustration{
    height: 24rem;
    border: 2px solid #ccc;
    margin-top: -12rem;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 3px;
}

@media only screen and (max-width:75em){
    .card-pack .illustration{
        height: 18rem;
    }
}

@media only screen and (max-width:62em){
    .card-pack .illustration{
        margin-top: -4rem;
    }
    
}

@media only screen and (max-width:48em){
    .card-pack .illustration{
        margin-bottom: 2rem;
    }
}


.card-pack .illustration img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all .2s;
}

.card-pack .illustration:hover img{
    transform: scale(1.1) rotate(4deg);
}


/* 
    CONCEPT SECTION (ACCUEIL)
    -------------------------------------------------------------
*/

.about{
    background: linear-gradient(#d1ba9ebd, #d1ba9ebd), url(../images/map-background.jpg) repeat center center;
}

.about-block{
    max-width: 110rem;
    margin: 7rem auto 0;
    display: flex;
}

@media only screen and (max-width:62em){
    .about-block{
        display: block;
    }

    .about-block .ab_column:first-child{
        margin-bottom: 4rem;
    }
}

@media only screen and (max-width:36em){
    .about-block{
        margin: 3rem auto 0;
    }
}

.ab_column{
    flex: 1;
    padding: 0 1rem;
}

@media only screen and (max-width:62em){
    .ab_column{
        padding: 0;
    }
}

.about-hr,
.simple-hr{
    width: 120px;
    border: 4px solid #fff;
}

.about h1,
.principle-heading{
    font-size: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media only screen and (max-width:48em){
    .about h1,
    .principle-heading{
        font-size: 5rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width:36em){
    .about h1,
    .principle-heading{
        font-size: 4rem;
        margin-bottom: 2rem;
    }
}

.about p, .basic-p{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: rgb(70, 69, 69);
    line-height: 28px;
    max-width: 50rem;
    margin-bottom: 3rem;
}

.about span, .slogan{
    font-family: 'DM Serif Display', sans-serif;
    font-style: italic;
    display: block;
    margin-bottom: 2rem;
    font-weight: 400;
    color: #437e45;
}

.about-illustration{
    height: 60rem;
    position: relative;
    background-color: var(--color-white);
}

@media only screen and (max-width:62em){
    .about-illustration{
        height: 50rem;
    }
}

@media only screen and (max-width:48em){
    .about-illustration{
        height: 40rem;
    }
}

@media only screen and (max-width:36em){
    .about-illustration{
        height: 30rem;
    }
}


.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 1;
    overflow: hidden;
}


.bg-video__content{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* 
    ABOUT (page)
    -------------------------------------------------------------
*/

.team-desc{
    max-width: 60rem;
    margin: 1rem auto 4rem;
}

.team-member{
    max-width: 20rem;
    margin: 0 auto .5rem;
    text-align: center;
}

@media only screen and (max-width:36em){
    .team-member{
        max-width: 25rem;
    }
}

.team-member .photo{
    height: 25rem;
    background:  url(../images/wood.jpg) center center;
    background-size: cover;
    padding: .5rem;
    border-radius: 2px;
}

@media only screen and (max-width:36em){
    .team-member .photo{
        height: 27rem;
    }
}

.team-member .photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 2px;
}

.team-member .content{
    padding-top: 2rem;
}

.team-member .content span{
    display: block;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
}

.team-member .content small{
    display: block;
    color: #555;
    font-size: 1.6rem;
}

.principle-box{
    background-color: var(--color-white);
    min-height: 30rem;
    margin: 3rem auto 0;
    padding: 10rem 0;
}

@media only screen and (max-width:36em){
    .principle-box{
        padding: 4rem 0;
    }
}

.principle-box__content{
    display: flex;
    align-items: center;
    max-width: 110rem;
    margin: 0 auto;
}

@media only screen and (max-width:48em){
    .principle-box__content{
        display: block;
        text-align: center;
    }
}

.principle-box__block{
    flex: 1;
    padding: 0 2rem;
}

.principle-box__block h2{
    margin-bottom: 3rem;
}

@media only screen and (max-width:48em){
    .principle-box__block h2{
        margin-bottom: 3rem;
        margin-top: 4rem;
    }
}

.principle-box__block span{
    color: #00BF58;
    display: block;
    font-weight: 600;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

.principle-box__block li{
    margin-bottom: 2rem;
}

.principle-box__block p{
    color: #555;
}

.principle-box__block .img-illustration{
    max-height: 40rem;
}

@media only screen and (max-width:75em){
    .principle-box__block .img-illustration{
        max-height: 33rem;
    }
}

@media only screen and (max-width:62em){
    .principle-box__block .img-illustration{
        max-height: 25rem;
    }
}

@media only screen and (max-width:48em){
    .principle-box__block .img-illustration{
        width: 100%;
    }
}


/* 
    RESERVATION (page)
    -------------------------------------------------------------
*/


.imgbanner-box ul{
    overflow-x: auto;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

@media only screen and (max-width:36em){
    .imgbanner-box ul{
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.imgbanner-box ul::-webkit-scrollbar {
    background-color:var(--color-one);
    height:16px;
}

.imgbanner-box ul::-webkit-scrollbar-track {
    background-color:var(--color-one);
}

.imgbanner-box ul::-webkit-scrollbar-thumb {
    background-color:#a0a0a5;
    border-radius:16px;
    border:5px solid var(--color-one);
}

.imgbanner-box ul::-webkit-scrollbar-thumb:hover {
    background-color:darken(#a0a0a5, 10%);
}

.imgbanner-box ul::-webkit-scrollbar-button {display:none}


@media only screen and (max-width:36em){
    .imgbanner-box ul::-webkit-scrollbar{
        display: none;
    }
}

.imgbanner-box li figure{
    height: 23rem;
    width: 35rem;
    border: 4px solid var(--color-white);
    border-left: 2px solid var(--color-white);
}

@media only screen and (max-width:48em){
    .imgbanner-box li figure{
        height: 20rem;
        width: 30rem;
    }
}

@media only screen and (max-width:36em){
    .imgbanner-box li figure{
        height: 17rem;
        width: 25rem;
    }
}



.imgbanner-box li figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form input{
    width: 100%;
    height: 5.59rem;
    font-size: 1.6rem;
    border: 1px solid transparent;
    padding: 1.5rem;
    color: inherit;
    transition: all .1s ease;
}

.form input:focus{
    outline: none;
    box-shadow: 0 0 0 3px #159ce466;
}

.form .msgb{
    padding: 0 1rem;
    margin-bottom: 3rem;
}

.form label{
    color: #555;
    margin-bottom: 1rem;
    display: block;
    font-style: italic;
    font-size: 1.3rem;
    font-weight: 600;
}

.form label span{
    color: #ff0000;
}

.form button{
    font-size: 1.7rem;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: #437e45;
    border: none;
    padding: 1rem 1.9rem;
    cursor: pointer;
    box-shadow: 3px 3px 12px 5px rgba(0,0,0,0.05);
    transition: all .2s ease;
    width:13.15rem;
    text-align: center;
}

.form button:hover{
    background-color: #346436;
}

.form textarea,
.form select{
    width: 100%;
    font-size: 1.6rem;
    border: 1px solid transparent;
    padding: 1.5rem;
    color: inherit;
    width: 100%;
    font-family: inherit;
    resize: none;
    transition: all .1s ease;
}

.form textarea:focus,
.form select:focus{
    outline: none;
    box-shadow: 0 0 0 3px #159ce466;
}

/* 
    CONTACT (page)
    -------------------------------------------------------------
*/

.contact-block{
    max-width: 60rem;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.cb-title{
    text-align: center;
    font-family: 'DM Serif Display', sans-serif;
    font-size: 3rem;
    color: #555;
    display: block;
}

@media only screen and (max-width:48em){
    .cb-title{
        font-size: 2.7rem;
    }
}

@media only screen and (max-width:36em){
    .cb-title{
        font-size: 2.3rem;
    }
}

.circle-white{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-color: var(--color-white);
    margin:0 auto 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-white img{
    height: 5rem;
}

.circle-white ~ p,
.circle-white ~ p a{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    color: #555;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.grid .grid-column{
    padding: 0 1rem;
    margin-bottom: 3rem;
}

.map-box{
    background-color: var(--color-white);
}

.map-box iframe{
    width: 100%;
    height: 40rem;
}

@media only screen and (max-width:48em){
    .map-box iframe{
        height: 30rem;
    }
}

@media only screen and (max-width:36em){
    .map-box iframe{
        height: 25rem;
    }
}


.aboutpage-block{
    max-width: 110rem;
    margin: 0 auto;
}


/* 
    PLANS (page) 
    -------------------------------------------------------------
*/

.plan-orange{
    padding-bottom: 7rem;
    background: linear-gradient(to bottom right, #ff9800b8, #d1ba9eda, #d1ba9eda, #ff9800b8), url(../images/map-background.jpg) repeat center center;
    background-size: cover;
}

.plan-blue{
    padding-bottom: 7rem;
    background: linear-gradient(to bottom right, #4fa1afb4, #d1ba9eda, #d1ba9eda, #4fa1afb4), url(../images/map-background.jpg) repeat center center;
    background-size: cover;
}

.plan-green{
    padding-bottom: 7rem;
    background: linear-gradient(to bottom right, #4faf8ab4, #d1ba9eda, #d1ba9eda, #4faf8ab4), url(../images/map-background.jpg) repeat center center;
    background-size: cover;
}

.heading-plan{
    position: relative;
    margin-bottom: 3rem;
}

.heading-plan span{
    color: #8871542d;
    font-size: 7rem;
    font-family: 'DM Serif Display', sans-serif;
    position: absolute;
    top: -25px;
    left: 0;
}

@media only screen and (max-width:36em){

    .heading-plan span{
        font-size: 5rem;
    }
}

.heading-plan h1{
    font-family: 'DM Serif Display', sans-serif;
    font-style: italic;
    color: #555;
    font-size: 4rem;
    font-weight: 400;
    position: relative;
    z-index: 3;   
}


/* ---------------- */
.plan-title{
    text-align: center;
    position: relative;
    margin-bottom: 4rem;
}

.plan-title span{
    color: #88715442;
    font-size: 7rem;
    font-family: 'DM Serif Display', sans-serif;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width:36em){

    .plan-title span{
        font-size: 5rem;
    }
}

.plan-title h1{
    font-family: 'DM Serif Display', sans-serif;
    font-style: italic;
    color: #555;
    font-size: 4rem;
    font-weight: 400;
    position: relative;
    z-index: 3;   
}



.plan-card{
    background-color: var(--color-white);
    padding: 2rem;
    max-width: 70rem;
    border-radius: 3px;
    margin: 3rem auto 0;
    display: flex;
}

.plan-card.--transparent{
    background-color: transparent;
}

@media only screen and (max-width:36em){
    .plan-card{
        display: block;
    }
}

.plan-card .illustration{
    flex: 0 0 28rem;
    height: 22rem;
    background-color: var(--color-one);
    border-radius: 3px;
    overflow: hidden;
}

@media only screen and (max-width:48em){
    .plan-card .illustration{
        flex: 0 0 24rem;
        height: 18rem;
    }
}

@media only screen and (max-width:36em){
    .plan-card .illustration{
        margin-bottom: 2rem;
    }
}

.plan-card .illustration img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s ease-in-out;
}

.plan-card.--transparent .illustration img:hover{
    transform: scale(1.1) rotate(4deg);

}

.plan-card .content{
    padding-left: 2rem;
    width: 100%;
}

@media only screen and (max-width:36em){
    .plan-card .content{
        padding-left: 0rem;
    }
}

.plan-card .content .spa-title{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    font-weight: 500;
}

.plan-card .content .spa-title.--blue{
    background: -webkit-linear-gradient(#4ea6b6, #222);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plan-card .content .spa-title.--green{
    background: -webkit-linear-gradient(#4faf8a, #222);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plan-card .content .spa-title.--orange{
    background: -webkit-linear-gradient(#ff9900, #222);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plan-card .content p{
    font-size: 1.5rem;
    color: #777;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width:36em){
    .plan-card .content p{
        margin-bottom: 1.5rem;
        margin-top: 1rem;
    }
}



.section-presentation{
    display: flex;
}

@media only screen and (max-width:48em){
    .section-presentation{
        display: block;
    }
}

.section-presentation .block:first-child{
    position: sticky;
    top: 0;
    height: 100vh;
}

@media only screen and (max-width:48em){
    .section-presentation .block:first-child{
        height: auto;
        position: initial;
    }
}

.sp_block-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-left: 10rem;
    padding-right: 2rem;
}

@media only screen and (max-width:62em){
    .sp_block-content{
        padding-left: 4rem;
        padding-right: 2rem;
    }
}

@media only screen and (max-width:48em){
    .sp_block-content{
        position: initial;
        top: 0;
        left: 0;
        transform: none;
        padding-left: 2rem;
        margin-bottom: 4rem;
    }
}

.section-presentation .block{
    flex: 1;
}

.sp-icon{
    width: 4.5rem;
    margin-top: 2rem;
}

.section-presentation .block ul{
    border-left: 4px solid var(--color-white);
}

@media only screen and (max-width:48em){
    .section-presentation .block ul{
        border-left: none;
    }
}

.section-presentation .block figure{
    height: 60rem;
}

@media only screen and (max-width:75em){
    .section-presentation .block figure{
        height: 50rem;
    }  
};

@media only screen and (max-width:62em){
    .section-presentation .block figure{
        height: 40rem;
    }
}

@media only screen and (max-width:48em){
    .section-presentation .block figure{
        height: 30rem;
    }
}

@media only screen and (max-width:36em){
    .section-presentation .block figure{
        height: 25rem;
    }
}

.section-presentation .block ul li:not(:last-child) figure{
    border-bottom: 4px solid var(--color-white);
}

.section-presentation .block figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.plandetail h1{
    font-size: 6rem;
    font-family: 'DM Serif Display', sans-serif;
    margin: 1rem 0 2rem;
}  

@media only screen and (max-width:62em){
    .plandetail h1{
        font-size: 4.8rem;
    }
}

@media only screen and (max-width:48em){
    .plandetail h1{
        font-size: 3.7rem;
    }
}

@media only screen and (max-width:38em){
    .plandetail h1{
        font-size: 2.7rem;
    }
}

.plandetail p{
    max-width: 70rem;
    margin-bottom: 4rem;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    color: #555;
    line-height: 2.5rem;

}

.plandetail h1 span{
    display: block;
}

.plan-banner{
    height: 55rem;
    background-color: var(--color-white);
}

@media only screen and (max-width:62em){
    .plan-banner{
        height: 50rem;
    }
}

@media only screen and (max-width:48em){
    .plan-banner{
        height: 45rem;
    }
}

@media only screen and (max-width:38em){
    .plan-banner{
        height: 30rem;
    }
}

.plan-banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.plan-display{
    display: flex;
    flex-direction: row-reverse;
}

@media only screen and (max-width:48em){
    .plan-display{
        display: block;
    }
}

.plan-display .block{
    flex: 1;
}

.plan-display .plan-illustration{
    height: 100vh;
    width: 100%;
    padding: 2rem;
    position: sticky;
    top: 0;
    background-color: #cfb89b;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width:48em){
    .plan-display .plan-illustration{
        height: initial;
        width: 100%;
        padding: 7rem 2rem;
        position: relative;
    }
}

@media only screen and (max-width:36em){
    .plan-display .plan-illustration{
        display: block;
    }
}

.wood-plaque{
    background:linear-gradient(#00000011,#00000011), url(../images/wood.jpg);
    background-size: cover;
    max-width: 33rem;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 3rem 8rem 0.5rem #00000026;
}

@media only screen and (max-width:48em){
    .wood-plaque{
        width: 40rem;
    }
}

@media only screen and (max-width:36em){
    .wood-plaque{
        width: 100%;
        max-width: 40rem;
    }
}


.fprice span{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color-white);
    display: block ;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

.fprice small{
    font-size: 1.7rem;
    color: var(--color-white);
    display: block ;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    margin-bottom: 3rem;
}

@media only screen and (max-width:48em){
    .fprice span{
        font-size: 3.5rem;
    }
    
    .fprice small{
        font-size: 1.7rem;
    }
}


.plan-display .plan-illustration .img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .3;
}

.plan-display .plan-illustration .content{
    z-index: 2;
    position: relative;
}

.pl-mcontent{
    padding: 4rem 3rem;
}

@media only screen and (max-width:48em){
    .pl-mcontent{
        padding: 4rem 0rem;
    }
}

.pl-mcontent .p{
    /* font-family: 'Quicksand', Arial, Helvetica, sans-serif; */
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.program-illustration{
    height: 35rem;
    border: 2px solid var(--color-white);
    margin-top: 2rem;
}

@media only screen and (max-width:62em){
    .program-illustration{
        height: 30rem;
    }
}

@media only screen and (max-width:48em){
    .program-illustration{
        height: 25rem;
    }
}

@media only screen and (max-width:36em){
    .program-illustration{
        height: 20rem;
    }
}

.program-illustration img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* 
    FOOTER
    -------------------------------------------------------------
*/

.footer{
    text-align: center;
    padding-bottom: 4rem;
    background:linear-gradient(#ead1b2d9, #ead1b2d9), url(../images/forest-bg.jpg);
    background-size: contain;
    background-repeat: repeat;
}

.footer.--shadow{
    box-shadow: inset 0px 6px 12px 0px #0000001a;
}

.footer span{
    display: block;
    font-size: 1.4rem;
    color: #616161;
}

.footer span a{
    color: #437e45;
}

.utils li{
    display: inline-block;
    padding: 0 1rem;
}

@media only screen and (max-width:36em){
    .utils li {
        display: block;
        padding: 1rem;
   }
}

.utils li a {
    color: #555;
    font-size: 1.8rem;
    font-weight: bold;
    transition: all .2s;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    transition: all .2s;
}

.utils li a:hover{
    color:#437e45;
}

.social-list{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.social-list li{
    display: inline-block;
    padding: 0 1.5rem;
}


.social-list li img{
    height: 2rem;
}


/* 
    LATERAL BAR
    -------------------------------------------------------------
*/

.menu-list{
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 8rem;
    background: #fffffff6;
    box-shadow: 3px 3px 12px 5px rgba(0,0,0,0.05);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 10;
    overflow: hidden;
}

@media only screen and (max-width:62em){
    .menu-list{
        display: none;
    }
}

.menu-list li{
    position: relative;
    text-align: center;
}

.menu-list li a:hover div{
    background-color: #fafafa;
    color: #a1835b;
}

.menu-list li:not(:last-child){
    border-bottom: 1px solid #eee;
}

.menu-list li a div{
    color: #555;
    font-size: 1.4rem;
    padding: 2rem 0rem;
    transition: all .2s ease;
}

.menu-list li a div .img-icon{
    max-height: 3rem;
}

.error-content{
    text-align: center;
}

.error-content h1{
    font-size: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.error-content p{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: rgb(70, 69, 69);
    line-height: 28px;
    max-width: 50rem;
    margin: 0 auto 4rem;
}

.error-illustration{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 3rem;
}

.error-illustration img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}